* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  position: relative;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-size: 2.4rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
}

button {
  display: inline-block;
  all: unset;
  font: inherit;
  cursor: pointer;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.right-side .dark-background, .right-side .dark-background .amount-divs-wrapper .amount-wrapper, .left-side .select-tip-container .tip-buttons-container, .left-side .select-tip-container .tip-buttons-container button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.6rem;
}
.left-side .input-icon-wrapper {
  border-radius: 0.8rem;
  height: 4.8rem;
  width: 100%;
}
.left-side .input-icon-wrapper .icon-container {
  position: absolute;
  left: 1rem;
  top: 0;
  height: 30%;
  transform: translateY(50%);
  z-index: 20000;
}
.left-side form label {
  margin-bottom: 0.4rem;
  text-transform: capitalize;
  display: block;
  font-size: 1.4rem;
  color: hsl(186, 14%, 43%);
}
.left-side form input {
  font-size: 2.8rem;
  font-weight: 700;
  width: 100%;
  border-radius: inherit;
  text-align: right;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  padding: 1rem 2rem;
}
.left-side form input::placeholder {
  color: hsl(180, 11%, 68%);
}
.left-side form input:focus {
  background-color: hsl(185, 41%, 84%);
  border: 2px solid hsl(172, 30%, 50%);
}
.left-side .select-tip-container p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  color: hsl(186, 14%, 43%);
}
.left-side .select-tip-container .tip-buttons-container {
  justify-content: flex-start;
  gap: 0.9rem;
  flex-wrap: wrap;
}
.left-side .select-tip-container .tip-buttons-container button {
  flex-grow: 1;
  flex-shrink: 1;
  width: 11rem;
  max-width: 16rem;
  height: 5rem;
  border-radius: 0.8rem;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
}
.left-side .select-tip-container .tip-buttons-container button.active {
  background-color: hsl(172, 66%, 45%);
  color: hsl(183, 100%, 15%);
}
.left-side .select-tip-container .tip-buttons-container button:hover {
  background-color: hsl(173, 60%, 77%);
  color: hsl(183, 100%, 15%);
}
.left-side .select-tip-container .tip-buttons-container .custom-button {
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
}

.right-side .dark-background {
  justify-content: space-between;
  flex-direction: column;
  background-color: hsl(183, 100%, 15%);
  height: 100%;
  width: 100%;
  border-radius: 1.8rem;
  gap: 6rem;
  padding: 4rem;
}
.right-side .dark-background > * {
  width: 100%;
}
.right-side .dark-background .amount-divs-wrapper .amount-wrapper {
  flex-direction: row;
  justify-content: space-between;
}
.right-side .dark-background .amount-divs-wrapper .amount-wrapper .left h1 {
  font-size: 1.8rem;
  color: hsl(0, 0%, 100%);
}
.right-side .dark-background .amount-divs-wrapper .amount-wrapper .left p {
  font-size: 1.2rem;
  color: hsl(184, 14%, 56%);
}
.right-side .dark-background .amount-divs-wrapper .amount-wrapper .right p {
  font-size: 5rem;
  color: hsl(172, 67%, 45%);
}
.right-side .reset-button-wrapper {
  height: 4.3rem;
  border-radius: 0.6rem;
}
.right-side .reset-button-wrapper .reset {
  background-color: hsl(172, 67%, 45%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  text-align: center;
  color: hsl(183, 100%, 15%);
}
.right-side .reset-button-wrapper .reset:disabled {
  background-color: hsl(183, 79%, 24%);
}
.right-side .reset-button-wrapper .reset:not([disabled]):hover {
  background-color: hsl(173, 60%, 77%);
  color: hsl(183, 100%, 15%);
}

.main-wrapper {
  min-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(185, 41%, 84%);
  min-height: 100vh;
  width: 100vw;
}

.white-bg {
  margin-bottom: clamp(2rem, 4vw + 1rem, 8rem);
  background-color: hsl(0, 0%, 100%);
  max-width: 92rem;
  min-height: 50rem;
  border-radius: 3rem;
  padding: 4rem 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.white-bg .left-side {
  flex: 0 1 39rem;
  min-width: 33rem;
}
.white-bg .right-side {
  flex: 1 1 22rem;
  min-width: 33rem;
}

@media screen and (max-width: 960px) {
  .main-wrapper {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 910px) {
  .white-bg {
    max-width: 50rem;
  }
}
@media screen and (max-width: 500px) {
  .main-wrapper {
    padding: 0;
  }
}
@media screen and (max-width: 350px) {
  .white-bg {
    padding: 1rem;
  }
}
.splitter-text {
  margin-top: clamp(2rem, 4vw + 1rem, 8rem);
  margin-bottom: clamp(2rem, 4vw + 1rem, 8rem);
  color: #416264;
  text-transform: uppercase;
  font-size: 2.4rem;
}
.splitter-text span {
  display: block;
  letter-spacing: 1rem;
  font-weight: 800;
}

.custom-form {
  flex-grow: 1;
  flex-shrink: 1;
  width: 11rem;
  max-width: 16rem;
  height: 5rem;
  border-radius: 0.8rem;
}
.custom-form .custom-input {
  padding: 0 !important;
  height: 100%;
  text-align: center;
  border: 1px solid #00474b;
  background-color: hsl(203, 50%, 97%);
  color: hsl(183, 100%, 15%);
}
.custom-form .custom-input::placeholder {
  color: #587777;
}
.custom-form .custom-error {
  z-index: 2000000000;
  text-align: center;
  background-color: hsl(203, 50%, 97%);
  position: absolute;
  color: hsl(15, 32%, 57%);
  top: 100%;
  transform: translateY(10%);
  padding: 4px;
  border-radius: inherit;
  width: auto;
  border: 1px solid red;
}

/*# sourceMappingURL=main.css.map */
