@use "../global/variables";

.custom-form {
  flex-grow: 1;
  flex-shrink: 1;
  width: 11rem;
  max-width: 16rem;
  height: 5rem;
  border-radius: 0.8rem;

  .custom-input {
    text-align: center;
    border: 1px solid #00474b;

    background-color: hsl(203, 50%, 97%);
    color: variables.$very-dark-cyan;

    &::placeholder {
      color: #587777;
    }
  }
  .custom-error{
    z-index: 2000000000;
    text-align: center;
    background-color: hsl(203, 50%, 97%);
    position: absolute;
    top: 100%;
    transform: translateY(10%);
    padding: 4px;
    border-radius: inherit;
    width: auto;
    border: 1px solid red;
  }
}
