@use "../global/variables";

.splitter-text {
  margin-top: clamp(2rem, 4vw + 1rem, 8rem);
  margin-bottom: clamp(2rem, 4vw + 1rem, 8rem);

  color: #416264;
  text-transform: uppercase;

  font-size: 2.4rem;
  span {
    display: block;
    letter-spacing: 1rem;
    font-weight: 800;
  }
}
